<!-- <div class="row">
	<div class="general-container col-lg-8 "> -->
		<div class="section-header">
			<h1>{{title}}</h1>
		</div>

		<!-- LISTADO -->
		<div *ngIf="following; then hay; else nohay"></div>
		<ng-template #hay>
			<div *ngFor="let follow of following">
				<div class="card bg-primary col-lg-12" >
					<div class="row">
						<div class="col-lg-3">
							<img class="card-img" src="{{ url + 'get-image-user/' + follow.followed.image }}" *ngIf="follow.followed.image" alt="Card image" />
							<img class="card-img no-image" src="assets/images/usuario.png" *ngIf="!follow.followed.image" alt="Card image" />
						</div>

						<div class="card-body col-lg-7">
							<a [routerLink]="['/perfil', follow.followed._id, 'publications']" class="card-link">
								<h4 class="user-name text-yellow">{{follow.followed.name +' '+ follow.followed.surname}}</h4>
							</a>
							<h6 class="user-nick">{{follow.followed.nick}}</h6>
							<br>
							<p class="lead text-white"><em>{{follow.followed.status}}</em></p>
						</div>
						<!-- SECCIÓN FOLLOWS -->
						<div class="card-body col-lg-2">
							<div class="follow-buttons" *ngIf=" follow.followed._id != identity._id ">
								<button class="btn btn-success btn-sm" *ngIf=" follows.indexOf(follow.followed._id) < 0"
								(click)="followUser(follow.followed._id)">
								<span class="fas fa-plus-square"></span>
								Seguir
							</button>
							<button class="btn btn-danger btn-sm" *ngIf=" follows.indexOf(follow.followed._id) >= 0"
								(click)="deleteFollowUser(follow.followed._id)">
								<span class="fas fa-minus-square"></span>
								No seguir
							</button>
						</div>
					</div>
					<!-- FIN SECCIÓN FOLLOWS -->
				</div>
			</div>
		</div>

		<!-- PAGINACIÓN -->

		<p class="center">
			<button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
				Ver más
			</button>
		</p>

		<!-- <div class="col-lg-12">
			<ul class="pagination center">
				<li class="page-item" [ngClass]="{disabled : page <= 1 }">
					<a class="page-link" [routerLink]="['/siguiendo/', user_id, prev_page]">&laquo; Anterior</a>
				</li>
				<li *ngFor="let pagina of paginas" class="page-item" [routerLinkActive]="['active']">
					<a class="page-link" [routerLink]="['/siguiendo/', user_id, pagina+1]">{{pagina+1}}</a>
				</li>			
				<li class="page-item" [ngClass]="{disabled : pages == page }">
					<a class="page-link" [routerLink]="['/siguiendo/', user_id, next_page]">Siguiente &raquo;</a>
				</li>
			</ul>
		</div> -->
		<!-- FIN PAGINACIÓN -->
	</ng-template>
	<ng-template #nohay>
		<div class="card bg-primary border-danger col-lg-12">
			<div class="card-header"><h4 class="user-name text-yellow">No hay seguimientos!!!</h4></div>
			<div class="card-body text-white">
				<h5>Parece que este usuario no sigue a nadie</h5>
			</div>
		</div>
	</ng-template>
	<!-- </div>

	<div class="general-container col-lg-4">
		<app-sidebar></app-sidebar>
	</div>
</div> -->