<div class="row">
	<div id="timeline" class="general-container col-lg-8 ">
		<div class="section-header timeline-header">
			<div class="timeline-header-text">
				<h1>{{title}}</h1>
			</div>
			<div class="derecha timeline-header-button">
				<button class="btn btn-success" (click)="refreshPublications($event)">
					<span class="fas fa-sync-alt"></span>
					Actualizar
				</button>
			</div>
		</div>
		
		<div class="loading" *ngIf="loading">
			<img class="img-loading" src="../../assets/images/load2.gif" alt="Loading image" />
		</div>

		<div *ngIf="publications && !loading; then hay; else nohay"></div>

		<ng-template #hay>
			<div *ngFor="let publication of publications">
				<div class="publication-card col-lg-12" [ngClass]='{"publication-my" : publication.user._id == identity._id}' >
					<div class="card-header">
						<div class="row">
							<div class="col-lg-11">
								<div class="publication-avatar">
									<img src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image" alt="Card image" />
									<img src="assets/images/usuario.png" *ngIf="!publication.user.image" alt="Card image" />
								</div>
								<div class="publication-user">
									<a [routerLink]="['/perfil', publication.user._id]">
										<h3>{{publication.user.name + ' ' +publication.user.surname}}</h3>
									</a>
									<small>{{ (publication.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}</small>
								</div>
							</div>
							<div class="col-lg-1 derecha" *ngIf=" publication.user._id == identity._id">
								<a class="btn btn-danger button-trash" data-toggle="modal" href="#deletePub{{publication._id}}" role="button">
									<span class="fas fa-trash-alt span-trash"></span>							
								</a>

								<!-- Modal HTML -->
								<div id="deletePub{{publication._id}}" class="modal fade">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">¿Seguro que quieres eliminar la publicación?</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<p class="crop text-muted"><em>"{{publication.text}}"</em></p>
												<p>Si la borras no podrás recuperarla.</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
												<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletePublication(publication._id)">Borrar la publicación</button>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					
					<div class="col-lg-12" >
						<div class="row" *ngIf=" publication.file && showImage != publication._id">
							<div class="card-body col-lg-8">
								<h5 class="publication-text">{{publication.text}}</h5>
							</div>
							<div class="col-lg-4">
								<img class="card-img-small" src="{{ url + 'get-image-pub/' + publication.file }}" alt="Card image" (click)="showThisImage(publication._id)"/>
							</div>
						</div>

						<div class="card-body" *ngIf=" !publication.file || showImage == publication._id">
							<h5 class="publication-text">{{publication.text}}</h5>
							<img class="card-img-normal" src="{{ url + 'get-image-pub/' + publication.file }}" alt="Card image" *ngIf="showImage == publication._id" (click)="hideThisImage(publication._id)"/>
						</div>
					</div>

				</div>
			</div>
			<p class="center">
				<button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
					Ver más publicaciones
				</button>
			</p>
		</ng-template>

		<ng-template #nohay>
			<div class="publication-card border-danger col-lg-12">
				<div class="card-header"><h4 class="publication-user">Tu TIMELINE está vacío!!!</h4></div>
				<div class="card-body">
					<h5>Parece que la gente a la que sigues no ha publicado nada todavía.</h5>
					<p class="card-text">Prueba a seguir a nueva gente o haz tus propias publicaciones</p>
				</div>
			</div>
		</ng-template>
	</div>

	<div class="general-container col-lg-4">
		<app-sidebar (publicationSended)="refreshPublications()"></app-sidebar>
	</div>
</div>

