<div class="general-container">
	<div class="jumbotron">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Disfruta de las publicaciones de tus amig@s y comparte tu día!!!</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<p class="lead">
			<a class="btn btn-warning btn-lg" href="#" role="button">Timeline</a>
			<a class="btn btn-info btn-lg" href="#" role="button">Mi perfil</a>
			<a class="btn btn-primary btn-lg" href="#" role="button">Gente</a>
		</p>
	</div>
</div>