/** 
*** GENERALES
**/
.h1-strong {
	border-bottom: 1px solid #eee;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: 13px;
	padding-bottom: 15px;
}

.general-container {
	margin-top: 115px;
}

/** fin GENERALES **/


/**
*** HEADER
**/
.navbar-brand{
	font-weight: bold;
	color: yellow !important;
	font-size: 2.5rem !important;
	padding: 0 0 0 0 !important;
}

.active {
	border-bottom: 3px solid yellow;
	background: #392556c7;
}

.nav-link{
	font-size: 1rem !important;
	padding-top: 1.1rem !important;
	padding-bottom: 1.1rem !important;
}

.nav-link:hover{
	background: #392556c7 !important;
}

.dropdown-menu .dropdown-item {
	font-size: 1rem !important;
}

/** fin HEADER **/


/** 
*** REGISTER 
**/

/** fin REGISTER **/

/** 
*** HOME 
**/
.jumbotron {
	background-color: #ffff0091 !important;
}
/** fin REGISTER **/
